.css-ahj2mt-MuiTypography-root {
  text-align: center;
}

.css-heg063-MuiTabs-flexContainer {
  justify-content: space-around;
}

.css-1aquho2-MuiTabs-indicator {
  justify-content: space-around;
}
