//colors
$first-color: rgb(103, 99, 133);
$second-color: rgb(70, 66, 97);
$white: #fff;
$black: #000;

//typography
$default-font: 'Barlow Condensed', sans-serif;
$font-size: 5rem;
$text-padding: .4rem;
$tween: 95px;

// animations
$animation-unit: 300ms;
$slideOut: $animation-unit * 2.5;
$slideStudios: $animation-unit * 4;
